@import "slide.scss";
@import "hourglass.scss";

.app-content {
    height: 100vh;
    .app-body {
      height: 100%;
    }
}

.workspace, .screen {
  height: inherit;
}

.container-flex {
  display: flex;
  flex-flow: row wrap;
  height: inherit;
  .col-full {
    width: 100%;
    height: inherit;
  }

  .col-half {
    width: 50%;
    height: inherit;
  }
  .col-half:last-child {
    padding-left: .5rem;
  }
}

.expanse {
  display: flex;
  flex-flow: column nowrap;
  height: inherit;
  .fit {
    flex: 0 1 auto;
  }
  .fix {
    flex: 1 1 auto;
    overflow: hidden;
    // position: inherit;
  }
  .scrollable {
    overflow-y: scroll;
  }
}

.tab-nav .active {
  border-bottom: 2px solid #2196f3;
}

.wrapper {
  position: inherit;
  height: inherit;
}

.btn-float {
  position: absolute;
  right: 16px;
  bottom: 0px;
}

.profile {
  padding-top: .3rem;
}

.circle-icon {
  display: inline-block;
  i {
    margin: 1rem;
  }
}

.center-h {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  width: auto;
  max-height: 100%;
}

.center-v {
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  width: auto;
  max-height: 100%;
}

.frame {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  .picture {
    @extend .center-h;
  }
}

.fm-lg {
  @extend .frame;
  width: 240px;
  height: 240px;
}

.fm-md {
  @extend .frame;
  width: 120px;
  height: 120px;
}

.fm-sm {
  @extend .frame;
  width: 55px;
  height: 55px;
}

.search-bar {
  position: absolute;
  width: 100%;
  padding: 1rem;

  .input-group, .form-control {
    background-color: #FFF;
    color: #202020;
  }
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(13, 206, 181,.7);
  padding: 5rem;
  height: 100%;
  z-index: 40;
  > div {
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    width: auto;
    max-height: 100%;
  }
}

@media (min-width: 992px) {
  .overlay-modal {
    padding: 5rem 3rem 5rem 8rem;
  }
}

.sl-icon {
  padding: 0.3rem;
  left: -15px !important;
  border-radius: 50%;
}

.sl-left {
  cursor: pointer;
}


.pagination {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.btn-icon-height {
  height: 2.25rem;
}

.text-italic {
    font-style: italic;
}

.table tbody tr td {
  vertical-align: middle;
}
