.app-content {
    height: 100vh;
    .app-body {
      height: 100%;
    }
}

.workspace, .screen {
  height: inherit;
}

.container-flex {
  display: flex;
  flex-flow: row wrap;
  height: inherit;
  .col-half {
    width: 50%;
    height: inherit;
  }
  .col-half:last-child {
    padding-left: .5rem;
  }
}

.box.widget {
  display: flex;
  flex-flow: column wrap;
  height: inherit;
  .fit {
    flex: 0 1 auto;
  }
  .fix {
    flex: 1 1 auto;
  }
}

.profile {
  padding-top: 1rem;
}

.circle-icon {
  display: inline-block;
  i {
    margin: 1rem;
  }
}

.center-h {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  width: auto;
  max-height: 100%;
}

.center-v {
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  width: auto;
  max-height: 100%;
}

.frame {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  .picture {
    @extend .center-h;
  }
}

.fm-lg {
  @extend .frame;
  width: 240px;
  height: 240px;
}

.fm-md {
  @extend .frame;
  width: 120px;
  height: 120px;
}

.fm-sm {
  @extend .frame;
  width: 55px;
  height: 55px;
}

.search-bar {
  position: absolute;
  width: 100%;
  padding: 1rem;

  .input-group {
    background-color: #FFF;
    color: #202020;
  }
}


.ui-check > span {
  margin-left: 0px!important;
}

.form-group p {
    display: inline;
    padding-right: 1rem;
}
