<div id="aside" class="app-aside modal fade folded md show-text nav-dropdown" ng-class="{'folded': app.setting.folded}">
    <div class="left navside black dk" layout="column">
        <div class="navbar no-radius">
            <a class="navbar-brand">
                <img src="./images/logo.png" alt="came">
            </a>
        </div>
        <div flex="" class="hide-scroll">
            <nav class="scroll nav-active-primary">
                <ul class="nav">
                    <li class="<%= side.hasOwnProperty('door') ? 'active' : '' %>">
                      <a  href="/">
                        <span class="nav-icon"><i class="material-icons md-24">home</i></span>
                        <span class="nav-text">Puerta</span>
                      </a>
                    </li>
                    <li class="<%= side.hasOwnProperty('support') ? 'active' : '' %>">
                      <a href="/support">
                        <span class="nav-icon"><i class="material-icons md-24">group</i></span>
                        <span class="nav-text">Acc</span>
                      </a>
                    </li>
                    <li class="<%= side.hasOwnProperty('admin') ? 'active' : '' %>">
                      <a href="/admin">
                        <span class="nav-icon"><i class="material-icons md-24">settings</i></span>
                        <span class="nav-text">Admin</span>
                      </a>
                    </li>
                    <li class="nav-header hidden-folded"><small class="text-muted">Help</small>
                    </li>
                    <li class="hidden-folded">
                      <a  href="#/app/docs"><span class="nav-text">Documents</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div flex-no-shrink>
          <nav ui-nav>
            <ul class="nav">
              <li><div class="b-b b m-t-sm"></div></li>
              <li class="no-bg">
                <a href="/auth/logout">
                  <span class="nav-icon">
                   <i class="material-icons">&#xe8ac;</i>
                  </span>
                  <span class="nav-text">Logout</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div flex-no-shrink="">
            <div class="nav-fold">
              <a>
                <span class="pull-right m-v-sm hidden-folded">
                  <b class="label warn">9</b></span>
                  <span class="pull-left"><img src='./images/profile.png' alt="..." class="w-40 img-circle"></span>
                  <span class="clear hidden-folded p-x">
                    <span class="block _500">Jack Perez</span>
                    <small class="block text-muted">London, UK</small>
                  </span>
                </a>
            </div>
        </div>
    </div>
</div>
