<div id="aside" class="app-aside modal fade folded md show-text nav-dropdown" ng-class="{'folded': app.setting.folded}">
    <div class="left navside black dk" layout="column">
        <div class="navbar no-radius">
            <a class="navbar-brand">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
                    <path d="M 4 4 L 44 4 L 44 44 Z" fill="#a88add"></path>
                    <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
                    <path d="M 4 4 L 24 4 L 4  44 Z" fill="#0cc2aa"></path>
                </svg><img src="../assets/images/logo.png" alt="." class="hide"> <span class="hidden-folded inline ng-binding">Flatkit</span>
            </a>
        </div>
        <div flex="" class="hide-scroll">
            <nav class="scroll nav-active-primary">
                <ul class="nav">
                    <li class="active">
                      <a  href="#/">
                        <span class="nav-icon"><i class="material-icons md-24">home</i></span>
                        <span class="nav-text">Puerta</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="nav-caret"><i class="fa fa-caret-down"></i></span>
                        <span class="nav-label"><b class="label rounded label-sm warn">5</b></span>
                        <span class="nav-icon"><i class="material-icons">hotel</i></span>
                        <span class="nav-text">Apps</span>
                      </a>
                      <ul class="nav-sub">
                            <li><a href="#/app/inbox/inbox/"><span class="nav-text">Inbox</span></a>
                            </li>
                            <li><a  href="#/app/contact"><span class="nav-text">Contacts</span></a>
                            </li>
                      </ul>
                    </li>
                    <li class="nav-header hidden-folded"><small class="text-muted">Help</small>
                    </li>
                    <li class="hidden-folded">
                      <a  href="#/app/docs"><span class="nav-text">Documents</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div flex-no-shrink>
          <nav ui-nav>
            <ul class="nav">
              <li><div class="b-b b m-t-sm"></div></li>
              <li class="no-bg">
                <a href="/auth/logout">
                  <span class="nav-icon">
                   <i class="material-icons">&#xe8ac;</i>
                  </span>
                  <span class="nav-text">Logout</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div flex-no-shrink="">
            <div class="nav-fold">
              <a>
                <span class="pull-right m-v-sm hidden-folded">
                  <b class="label warn">9</b></span>
                  <span class="pull-left"><img src='./images/profile.png' alt="..." class="w-40 img-circle"></span>
                  <span class="clear hidden-folded p-x">
                    <span class="block _500">Jack Perez</span>
                    <small class="block text-muted">London, UK</small>
                  </span>
                </a>
            </div>
        </div>
    </div>
</div>
