<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="description" content="Centro de Atencion a Migrantes Electronico" />
    <link rel="image_src" href="http://came.com/images/came_banner.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Facebook Share -->
    <meta property="og:url"                content="http://came.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Centro de Atencion a Migrantes Electronico" />
    <meta property="og:description"        content="Centro de Atencion a Migrantes Electronico" />
    <meta property="og:image"              content="http://came.com/images/came_banner.png" />

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/came_logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="images/came_logo.png">

    <!-- style -->
    <link rel="stylesheet" href="/vendor/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/css/commons.css" type="text/css" />
    <link rel="stylesheet" href="/css/admin.css" type="text/css" />
  </head>
  <body>
    <%- include partial/aside.ejs%>
    <!-- contennt-->
    <div id="content" class="app-content box-shadow-z0" role="main">
      <%- include partial/header.ejs%>
      <%- include partial/footer.ejs%>
      <div class="app-body workspace">
      </div>
    </div>

    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/user.bundle.js"></script>
  </body>
</html>
